%header.main
  .wrap
    .logo
      = link_to (image_tag "logo.png"), "/"
    %nav.main
      %ul
        %li= link_to "About", "/about"
        %li= link_to "Our work", "#"
        %li= link_to "Stuff and thoughts", "#"
        %li.last= link_to "Contact", "#"