---
ng_app: homePage
page_class: home
title: Morse Digital
---

%header.main
  .wrap
    .logo
      = link_to (image_tag "logo.png"), "/"
    %nav.main
      %ul
        %li= link_to "About us", "#"
        %li= link_to "Our work", "#"
        %li= link_to "Our people", "#"
        %li= link_to "News & Blogs", "#"
        %li.last= link_to "Contact us", "#"

.wrap
  .row.row_one
    %section.panel.hello.introduction
      %h1.alpha Hello!
      %p.delta
        We are a
        %em digital build agency
        , specialising in building
        %em
          =link_to "systems", "#"
        that do clever things in an easy-to-understand way.
        We create
        %em 
          =link_to "bespoke solutions", "#"
        to our clients' problems.
        %em
          =link_to "Contact us", "#"
        and we'll find a way forward for you.

  .row.row_two
    %section.panel.what{ "ng-controller" => "ServicesController as services" }
      .introduction_narrow
        %h1.delta What do we do?
        %p.epsilon
          In the digital world, a system means much more than just a website which is an online brochure for a business. Although we do build lots of those, our real expertise is in building:
      %ul
        %li{ "ng-repeat" => "service in services.services", "ng-class" => "{last : ($index +1) % 4 == 0}", class: "item_{{$index+1}}" }
          %i.alpha.fa{ class: "{{service.icon}}" }
          .clearfix
            %h2.zeta
              {{service.name}}
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, necessitatibus quisquam voluptas saepe neque molestiae.
        %li.last
          = link_to "More", "#", class: "button"

  .row.row_threenew
    %section.panel.system
      .panel_content
        %h2.epsilon Our Approach
        %ul
          %li
            %em "Seek first to understand":
            We take a brief then work out what the client requires (not always what the client thinks they require).
          %li
            %em Propose a solution in non-tech terms:
            We like to speak Plain English. Drawing pictures helps, too.
          %li
            %em Build a Prototype:
            If there's something innovative or particularly high-tech in the proposed solution, we build a demo before the client commits wholesale to the project. Our prototype-to-full-build ratio is 100% so far.
          %li
            %em Agree a plan:
            Little explanation needed here...
          %li
            %em Deliver. On budget:
            We have a little rule we call our "No Surprises" rule. We work to a fixed cost for a fixed project. If the client asks for more, we agree any extra charges in advance. Our clients never receive an invoice they're not expecting.
    %section.panel.hires
      .panel_content
        %h1.epsilon Who Hires Us?
        %p
          Our clients include:
        %ul.bullets
          %li Media Owners
          %li Industrial Companies who have a problem which needs a technological solution
          %li Design Agencies who need digital build capabilities
          %li Client-facing Agencies who need client-presentable technical experts
          %li Agencies who have sold a client an idea which they have no idea how to deliver
    %section.panel.our_clients
      .introduction_narrow
        %h1.delta Who have we worked with?
        %p.epsilon
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in, quaerat ducimus dolorem libero magnam ipsum.
      .panel_content
        .clearfix
          %article
            =image_tag "client_logo_1.png", alt: "BFI"
          %article
            =image_tag "client_logo_2.png", alt: "Universal"
          %article
            =image_tag "client_logo_3.png", alt: "Tesco"
          %article
            =image_tag "client_logo_4.png", alt: "Sony Pictures"
          %article
            =image_tag "client_logo_1.png", alt: "BFI"
          %article.last
            =image_tag "client_logo_1.png", alt: "BFI"

.row.row_three
  %section.panel.feed
    .wrap
      .introduction_narrow
        %h1.delta Our latest work
        %p.zeta
          Quia possimus ipsam, totam ab culpa quisquam tenetur, voluptas. Amet iure culpa enim voluptates. Alias aut debitis error sit suscipit rerum, repellat.
    %section.panel.latest_work{ "ng-controller" => "FeedController as feed" }
      %article{ "ng-repeat" => "job in feed.jobs" }
        %img{ src: "{{job.image}}" }
        .panel_content
          %header
            %h1.epsilon
              {{job.title}}
              %span.bold {{job.subtitle}}
          %p.eta {{job.intro}}
      .wrap
        .clearfix
          = link_to "See more of our work", "#", class: "button"
    -# %section.panel.blogs
    -#   %article
    -#     .read_more
    -#       =link_to "Read more", "#", class: "alpha bold"
    -#     .panel_content
          
    -#       .teaser
    -#         %header
    -#           .category Blah blah
    -#           .date June 23rd, 2014
    -#           .author Adrian Stainforth
    -#           %h1.gamma Optimising a rails site for speed
    -#         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          
      
-# .wrap
-#   .row.row_four
-#     %section.panel.about_us
-#       .introduction_narrow
-#         %h1.delta About us
-#         %p.zeta
-#           We are digital media experts who have been delivering real-world client solutions since 1995.
-#       .column_one
-#         %p
-#           Our core team comes from an established digital media consultancy, TTT International, established to provide consultancy services to Viacom, Inc.
-#           %br
-#           %br
-#           Our clients include major players from global media corporations, Hollywood studios, UK Government departments, communications agencies, and small businesses.
-#           %br
-#           %br
-#           We rebranded in October 2011 from TTT International to Morse Digital. It's a "code" thing.
-#       .column_two
-#         %h2.epsilon Our Approach
-#         %ul
-#           %li
-#             %em "Seek first to understand":
-#             We take a brief then work out what the client requires (not always what the client thinks they require).
-#           %li
-#             %em Propose a solution in non-tech terms:
-#             We like to speak Plain English. Drawing pictures helps, too.
-#           %li
-#             %em Build a Prototype:
-#             If there's something innovative or particularly high-tech in the proposed solution, we build a demo before the client commits wholesale to the project. Our prototype-to-full-build ratio is 100% so far.
-#           %li
-#             %em Agree a plan:
-#             Little explanation needed here...
-#           %li
-#             %em Deliver. On budget:
-#             We have a little rule we call our "No Surprises" rule. We work to a fixed cost for a fixed project. If the client asks for more, we agree any extra charges in advance. Our clients never receive an invoice they're not expecting.
-#       .column_three
-#         %h2.epsilon Testimonials
-#         %p
-#           "Morse invoices are my favourite to pay. The work is reliable and is consistently delivered on spec, time and budget. Working with Terry was a massive relief after some costly false starts elsewhere. Communication throughout has been easy and enjoyable as he is a gentleman as much as a professional. I continually recommend Morse to others"
-#           %br
-#           %br
-#           Guy Harris
-#           %br
-#           Owner, DisabledGear.com

-# .row.row_five
-#   .wrap
-#     %section.panel.our_people{ "ng-controller" => "PeopleController as people" }
-#       .introduction_narrow
-#         %h1.delta Our people
-#         %p.zeta
-#           Our people are bats.
-#           Larks rise with the sun. Bats get work done before the larks get out of bed. We're lucky that our people work while others sleep*.
-#         %p
-#           That doesn't mean we outsource to offshore developers: all Morse people are UK based - they just prefer to work when the phones aren't ringing, which means a LOT of work gets done outside of "office hours".
-#           %br
-#           %br
-#           *Of course, we work office hours, too. We're bats, not nuts.
-#       %article{ "ng-repeat" => "person in people.people", "ng-class" => "{last: $last}" }
-#         %header
-#           %h1.zeta
-#             {{person.name}}
-#           %h2.eta {{person.role}}
-#         %img{ src: "{{person.image}}", "ng-click" =>  "show = !show" }
-#         %p.eta{ "ng-show" => "show" }
-#           {{person.description}}

.row.row_six
  .wrap
    %section.panel.contact_us
      .introduction_narrow
        %h1.delta Contact us
        %p.zeta
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sint, doloribus incidunt labore corporis tempore consequatur.
      %p.epsilon.center "Hello, Morse. I'm interested in..."
      .column_one
        %a{ href: "#" }
          %i.fa.fa-rocket.epsilon
          %h2.epsilon ...starting a project with you."
      .column_two
        %a{ href: "#" }
          %i.fa.fa-users.epsilon
          %h2.epsilon ...joining your team."
      .column_three
        %a{ href: "#" }
          %i.fa.fa-comments.epsilon
          %h2.epsilon ...something else."

%footer.main
  .wrap
    Blah